.App {
  text-align: center;
	list-style-type: none;
	color: black;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
		text-align: center;
    width: 300px;
		height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:focus {
	border: 3px solid #555;
}

textarea {
		text-align: center;
    width: 300px;
		height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

textarea:focus {
	border: 3px solid #555;
}


.navbar {
  min-height: 40px !important;
}

.navitem {
	color: red !important;
}

.post-editor {
  margin: 1em 20%;
}

.post-editor-button {
  float: right;
  margin-top: 1em;
}


@media(max-width: 900px) {
  .post-editor {
    margin: 1em;
  }

  .post-body {
    margin: 1em;
  }
}

.bugTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
		margin-right: auto;
		width: 80%;
}

.bugTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.bugTable tr:nth-child(even){background-color: #f2f2f2;}

.bugTable tr:hover {background-color: #ddd;}

.bugTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1DA3FF;
    color: white;
}